body {
    background-color: #F6F1F1;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-style {
    max-height: 100%;
    min-width: 400px;
    overflow-y: auto;
}

.form-style h3 {
    color: #19A7CE;
}

.form-style input {
    border: 0;
    height: 50px;
    border-radius: 0;
    border-bottom: 1px solid #ebebeb;
}

.form-style input:focus {
    border-bottom: 1px solid #19A7CE;
    box-shadow: none;
    outline: 0;
    background-color: #ebebeb;
}

button {
    height: 50px;
}

button.btn-theme-dark {
    background-color: #146C94;
    border: 0;
    outline: none;
    color: #fff;
    border-radius: .6rem;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}